## Nginx
HOST_IP=

## SSL Certificates
CERT_COUNTRY=IN
CERT_STATE=Delhi
CERT_LOCALITY="Delhi"
CERT_ORGANIZATION=Internal
CERT_ORG_UNIT=IT
CERT_COMMON_NAME=t11
CERT_DAYS=365
CERT_DIR=./config/nginx/certs
CERT_FILE=ssl-cert-self.pem
KEY_FILE=ssl-cert-self.key

## Jenkins
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_TOKEN=452c7ab581b880a800a0ad5d2fbd7804

## DON'T TOUCH. THE VALUES ARE GENERATED AUTOMATICALLY
JENKINS_SECRET_AGENT1=
JENKINS_SECRET_AGENT2=
