## Nginx
HOST_IP=192.168.4.147

## SSL Certificates
CERT_COUNTRY=IN
CERT_STATE=Delhi
CERT_LOCALITY="Delhi"
CERT_ORGANIZATION=Internal
CERT_ORG_UNIT=IT
CERT_COMMON_NAME=t11
CERT_DAYS=365
CERT_DIR=./config/nginx/certs
CERT_FILE=ssl-cert-self.pem
KEY_FILE=ssl-cert-self.key

## Jenkins
JENKINS_ADMIN_USER=admin
JENKINS_ADMIN_TOKEN=452c7ab581b880a800a0ad5d2fbd7804
JENKINS_SECRET_AGENT1=f8d6041cbfed76c4b2bd25cbdc1c5a945751e91cd6215462b24e4ce380e414db
JENKINS_SECRET_AGENT2=c4a506c7c413dfcede3225d08855d8ac7dea35628576e4921197abf068a6151c
